<div class="gu-header-container">
  <div class="container">
    <div class="row gu-header">
      <div class="col-xs-12">
        <div class="logo {{i18n.locale}}">
          <a href="http://www.gu.se">
            <img class="visible-print-block" src="{{t "header.logoPrintUrl"}}" />
          </a>
        </div>
        <div class="headers">
          <div class="level1">
            <a href="http://www.ub.gu.se">{{t "header.level1"}}</a>
          </div>
        </div>
        <div class="gu-header-links pull-right hidden-print">
          <ul>
            <li><a {{action 'toggleLang'}} href="javascript.void();">{{t "header.lang_link"}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
