<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Publicering per fakultet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dolor lacus. Aenean ex elit, facilisis vitae purus non, fringilla imperdiet lorem. Aenean eget purus et dui imperdiet porttitor. Vivamus sodales, nisi at rhoncus aliquam, ligula quam pulvinar arcu, id lobortis eros tortor eu elit. Etiam nec pellentesque leo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{publications-chart content=model.chart.publications y-axis=(t 'charts.faculties.y-axis-title')}}
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Publikationstyper</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dolor lacus. Aenean ex elit, facilisis vitae purus non, fringilla imperdiet lorem. Aenean eget purus et dui imperdiet porttitor. Vivamus sodales, nisi at rhoncus aliquam, ligula quam pulvinar arcu, id lobortis eros tortor eu elit. Etiam nec pellentesque leo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{publication-type-chart content=model.chart.publicationTypes}}
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Språk</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dolor lacus. Aenean ex elit, facilisis vitae purus non, fringilla imperdiet lorem. Aenean eget purus et dui imperdiet porttitor. Vivamus sodales, nisi at rhoncus aliquam, ligula quam pulvinar arcu, id lobortis eros tortor eu elit. Etiam nec pellentesque leo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{language-chart content=model.chart.languages}}
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Antal författare/publikation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dolor lacus. Aenean ex elit, facilisis vitae purus non, fringilla imperdiet lorem. Aenean eget purus et dui imperdiet porttitor. Vivamus sodales, nisi at rhoncus aliquam, ligula quam pulvinar arcu, id lobortis eros tortor eu elit. Etiam nec pellentesque leo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{authors-chart content=model.chart.authors}}
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Samarbeten</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dolor lacus. Aenean ex elit, facilisis vitae purus non, fringilla imperdiet lorem. Aenean eget purus et dui imperdiet porttitor. Vivamus sodales, nisi at rhoncus aliquam, ligula quam pulvinar arcu, id lobortis eros tortor eu elit. Etiam nec pellentesque leo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{cooperations-chart content=model.chart.cooperations}}
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-sm-offset-1">
    <h2>Åldersfördelning</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dolor lacus. Aenean ex elit, facilisis vitae purus non, fringilla imperdiet lorem. Aenean eget purus et dui imperdiet porttitor. Vivamus sodales, nisi at rhoncus aliquam, ligula quam pulvinar arcu, id lobortis eros tortor eu elit. Etiam nec pellentesque leo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{age-chart content=model.chart.age}}
  </div>
</div>
